/* Baseboard */

/* Fundo do baseboard */

.nav-baseboard{
  background-color: #3771A7;
  padding-bottom: 30px;
  margin-top: 0px;
}

.nav-socialmedia-baseboard{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-right: 55%;
}

.nav-container-baseboard{
  position: absolute;
  display: flex;
  left: 48%;
  top: 1535px;
}
.nav-container-baseboard2{
  position: absolute;
  display: flex;
  left: 48%;
  top: 1565px;
}