/* Parte de fora do "blocos de ações HOME" */

.nav-container {  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #3771A7;
  margin-top: 5%;
  height: 130px;
} 

/* Blocos de ações HOME */

.nav-box1 {
  background-color: #92b8b1;
  width: 85px;
  height: 85px;
  border-radius: 5px;
}
.nav-box2 {
  background-color: #92b8b1;
  width: 85px;
  height: 85px;
  border-radius: 5px;
}
.nav-box3 {
  background-color: #92b8b1;
  width: 85px;
  height: 85px;
  border-radius: 5px;
}

/* Bloco de noticias 

.nav-box2-news{
  position: absolute;
  left: 65%;
  bottom: 195px;
  text-overflow: ellipsis;
  font-size: 11px;
}
*/

/* Bloco de localização */

.nav-img-container-locate{
  position: absolute;
  padding-left: 25%;
  top: 720px;
}
.nav-locate-place{
  background-color: #3771A7;
  margin-top: 40px;
  padding-top: 10px;
  margin-right: 120px;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
}

/* Blocos do artigo */

.nav-box-article4{
  padding-top: 25px;
}
.nav-box-article3{
  position: absolute;
  left: 65%;
  text-overflow: ellipsis;
  font-size: 11px;
}


