.cabecario{
    height: 60px;
    background: #A19D9F;
}
.seta{
    margin-bottom: 10px;
}
.FICHAS-PACIENTE{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-size: x-large;
}