:root {
  --swiper-navigation-color: black;
  --swiper-navigation-size: 20px;
  --swiper-pagination-bullet-inactive-color:#FF9549;
  /* Effects */

    /* cor*/
    --corFundo: #FCF2E7;
    --fundoEscuro: #FAEBDF;
    --texto:#7B7676;

    /* Fontes*/
    --titulos: 'Puritan', sans-serif;
}

.carrossel-projetos-item{
  border-radius: 20px;
  display: flex;
 
  padding: 19px 6px 20px 7px; 

  flex-direction: column;
  align-items: center;
  gap: 18px;

  height: 20rem;
 
}

.swiper2 {
  margin-top: 0%;
  margin-left: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.swiper-wrapper{
  transform: translate3d(20px, 0px, 0px);
}

.swiper-pagination-bullet-active{
  background: #FF9549;
}

body{
  background-color: #FFF;
  margin-left: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.projetos-text{
  color: #FFF;
  text-align: center;
  font-family: Puritan;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  user-select: none;
}
.professor-info-nome{
  color: #FFF;
  font-family: Puritan;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
