
.enviar {
    color: #ffffff;
    text-align: center;
    font: var(--fontedosite, 400 15px "Noto Serif JP", sans-serif);
    position: absolute;
    left: 258px;
    top: 899px;
    width: 88px;
    height: 23px;
  }
  .frame-40 {
    background: var(--cinzabase, #a19d9f);
    width: 360px;
    height: 127px;
    position: absolute;
    left: 0px;
    top: 948px;
    overflow: hidden;
  }
  .contato2 {
    color: #ffffff;
    text-align: left;
    font: 400 20px "Noto Serif JP", sans-serif;
    position: absolute;
    left: 226px;
    top: 11px;
    width: 123px;
  }
  .download-removebg-preview-1-1 {
    width: 31px;
    height: 25px;
    position: absolute;
    left: 3px;
    top: 59px;
  }
  .download-removebg-preview-2-1 {
    width: 33px;
    height: 33px;
    position: absolute;
    left: 37px;
    top: 56px;
  }
  .download-removebg-preview-4-1 {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 78px;
    top: 60px;
  }
  .download-removebg-preview-5-1 {
    width: 35px;
    height: 30px;
    position: absolute;
    left: 111px;
    top: 58px;
  }
  .call-fill-0-wght-400-grad-0-opsz-48-1 {
    width: 32px;
    height: 33px;
    position: absolute;
    left: 259px;
    top: 89px;
    overflow: hidden;
  }
  .vector5 {
    position: absolute;
    left: 173px;
    top: 93px;
    overflow: visible;
  }
  .redes-sociais {
    color: #ffffff;
    text-align: left;
    font: 400 20px "Noto Serif JP", sans-serif;
    position: absolute;
    left: 10px;
    top: 11px;
    width: 179px;
    height: 31px;
  }
  .mail-fill-0-wght-400-grad-0-opsz-48-1 {
    width: 29px;
    height: 24px;
    position: absolute;
    left: 212px;
    top: 64px;
    overflow: hidden;
  }
  .vector6 {
    position: absolute;
    left: 170px;
    top: 64px;
    overflow: visible;
  }
  ._15-99810-8847 {
    color: #000000;
    text-align: left;
    font: 700 12px "Noto Serif JP", sans-serif;
    position: absolute;
    left: 200px;
    top: 95px;
  }
  .cardiopedria-gmail-com {
    color: #0f0e0e;
    text-align: left;
    font: 700 12px "Noto Serif JP", sans-serif;
    position: absolute;
    left: 199px;
    top: 61px;
    width: 240px;
    height: 30px;
  }
  