/* Icone de pesquisa */

.nav-icon-search {
  position: absolute;
  margin-left: 72%;
}

/* Imagens dos "blocos de ação" */

.nav-img-action-block1 {
  margin-left: 25%;
  margin-top: 10%;
  opacity: 50%;
}
.nav-img-action-block2 {
  margin-left: 25%;
  margin-top: 10%;
  opacity: 50%;
}
.nav-img-action-block3 {
  margin-left: 68%;
  margin-top: 65%;
  opacity: 50%;
}

/* Imagem localização */

.nav-img-locate{
  width: 270px;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 500px;
  border-bottom-left-radius: 500px;
  margin-top: 15%;
}
.nav-icon-locate{
  padding-left: 45px;
  padding-bottom: 5px;
}

/* Imagems do artigo */

.nav-img-article4{
  margin-left: 4%;
  border-radius: 10px;
}

/* Icones rodape */

.whatszap-icon{
  width: 30px;
  height: 30px;
}
.instagram-icon{
  width: 30px;
  height: 30px;
}
.facebook-icon{
  width: 30px;
  height: 30px;
}
.twitter-icon{
  width: 30px;
  height: 30px;
}
.contato-icon{
  width: 20px;
  height: 20px;
}
.phone-icon{
  width: 20px;
  height: 20px;
}

/* Imagens Noticias */

.img-news {
  width: 196px;
  height: 114px;
}
.img-news2 {
  width: 196px;
  height: 113px;
}
.img-news1 {
  width: 196px;
  height: 113px;
}


