.nav-baseboard{
    background-color: #3771A7;
    padding-bottom: 50px;
    margin-top: 80px;
  }
  
  .nav-socialmedia-baseboard{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-right: 55%;
  }
  
  .nav-container-baseboard{
    position: absolute;
    display: flex;
    left: 48%;
    top: 190%;
  }
  .nav-container-baseboard2{
    position: absolute;
    display: flex;
    left: 48%;
    top: 187%;
  }
  
  
  
  .whatszap-icon{
    width: 30px;
    height: 30px;
  }
  .instagram-icon{
    width: 30px;
    height: 30px;
  }
  .facebook-icon{
    width: 30px;
    height: 30px;
  }
  .twitter-icon{
    width: 30px;
    height: 30px;
  }
  .contato-icon{
    top:0%;
    width: 20px;
    height: 20px;
  }
  .phone-icon{
    width: 20px;
    height: 20px;
  }
  
  .agrupar{
    top:187%;
  }
  
  .nav-container-baseboard{
    top: 180%;
    left: 48%;
  }
 
  .nav-text-baseboard{
    color: white;
    font-size: 23px;
    padding-left: 10px;
    padding-top: 18px;
  }
  .nav-text-baseboard2{
    color: white;
    font-size: 23px;
    position: absolute;
    left: 65%;
    top: 1585px;
  }
  .nav-container-baseboard2{
    top: 177%;
  }
