@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:wght@300&display=swap');


/* Titulo página HOME */

.nav-title {
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 3%;
  color: #14315A;
}

/* Paragrafo página HOME */

.nav-paragraph {
  font-family: 'Merriweather', serif;
  font-size: 10px;
  display: flex;
  text-align: justify;
  padding-left: 15px;
  padding-right: 15px;
}


/* Textos de dentro dos "blocos de ação" */

.nav-text-inside-box1 {
  position: relative;
  top: -55%;
  padding-right: 15px;
  padding-left: 2px;
  letter-spacing: 1px;
  line-height: 20px;
  color: white;
  font-size: 16px;
}
.nav-text-inside-box2 {
  position: relative;
  top: -50%;
  padding-right: 5px;
  padding-left: 15px;
  letter-spacing: 1px;
  color: white;
  font-size: 16px;
}
.nav-text-inside-box3 {
  position: relative;
  top: 35%;
  padding-right: 15px;
  padding-left: 12px;
  letter-spacing: 1px;
  line-height: 20px;
  color: white;
  font-size: 16px;
}

/* Titulo das notícias */

.nav-title-news {
  padding-top: 6%;
  padding-left: 4%;
  padding-bottom: 2%;
}

/* Textos das notícias */

.nav-text-news1 {
  position: relative;
  font-size: 11px;
  padding-left: 4%;
  padding-right: 40%;
}

/* Texto da localização */

.nav-text-locate{
  color: white;
  font-size: 14px;
  padding-left: 10px;
  padding-bottom: 15px;
  padding-right: 20px;
}

/* Textos dos artigos */

.nav-title-article{
  font-size: 35px;
  padding-left: 60px;
  padding-top: 50px;
}
.nav-bar-article{
  padding-left: 35px;
}
.nav-text-article4{
  position: relative;
  font-size: 11px;
  padding-left: 4%;
  padding-right: 40%;
}
.nav-text-article3{
  font-size: 11px;
}

/* Textos do rodape */

.nav-text-baseboard{
  color: white;
  font-size: 23px;
  padding-left: 10px;
  padding-top: 18px;
}
.nav-text-baseboard2{
  color: white;
  font-size: 23px;
  position: absolute;
  left: 65%;
  top: 1487px;
}

/* texto noticias */

.projetos-text {
  font-size: 12;
}
