*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card{
  border-radius: 25px;
}
.card-image{
  position: relative;
  height: 150px;
  width: 250px;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 14px solid #EF7923;
}
.slide-container{
  max-width: 1120px;
  width: 100%;
  background-color: grey;
  padding: 30px 20px;
}